astropy==6.1.7
astropy-iers-data==0.2025.3.17.0.34.53
bcrypt==4.3.0
cffi==1.17.1
cryptography==44.0.2
future==1.0.0
numpy==2.2.4
packaging==24.2
paramiko==3.5.1
pdu==0.0.3
psutil==7.0.0
pycparser==2.22
pyerfa==2.0.1.5
PyMySQL==1.1.1
PyNaCl==1.5.0
pyparsing==3.2.1
pyregion==2.3.0
python-casacore==3.6.1
PyYAML==6.0.2
scipy==1.15.2
six==1.17.0
sshtunnel==0.4.0
treepick==0.1.4
yorn==0.0.6
